
{% extends "main.html" %}
{% block content %}

<h2 class="subheading">{{ subheading }}</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container"><p class="alert alert-danger">{{ message }}</p></div>
{% endfor %}
{% endif %}
{% endwith %}

<form class="form--add"
      action="{{ url_for('addCategories') }}"
      enctype="multipart/form-data"
      method="post">
  <fieldset class="form-group">
    <label class="form--update__label" for="name">Name</label>
    <input class="form-control" name="name" type="text" required>
    <label class="form--update__label" for="image">Upload image</label>
    <input class="form-control" name="image" type="file" readonly>
  </fieldset>
  <button class="btn btn-success form--add__submit" type="submit">Add</button>
  <a href="{{ url_for('home') }}" class="btn form--add__cancel">Cancel</a>
</form>

{% endblock %}
