
{% extends "main.html" %}
{% block content %}

<div class="container">

  <h2 class="subheading">{{ subheading }}</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="container"><p class="alert alert-danger">{{ message }}</p></div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form class="form--delete"
        action="{{ url_for('deleteItem', category_id=category.id, item_id=item.id) }}"
        method="post">
    <button class="btn btn-danger form--delete__submit" type="submit">Delete</button>
    <a href="{{ url_for('displayCategory', category_id=category.id) }}"
       class="btn form--delete__cancel">Cancel</a>
  </form>

</div>

{% endblock %}
