
{% extends "main.html" %}
{% block content %}

<h2 class="subheading">{{ subheading }}</h2>
<a class="btn btn-info btn--add" href="{{ url_for('addCategories') }}">Add categories</a>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container"><p class="alert alert-info">{{ message }}</p></div>
{% endfor %}
{% endif %}
{% endwith %}

{% if categories %}
<ul class="list list--categories">
  {% for category in categories %}
  <li class="list__item list__item--categories">
    <a class="list__item--categories__link"
       href="{{ url_for('displayCategory', category_id=category.id) }}">
       <span class="list__item--categories__name">{{ category.name }}</span>
       <img class="list__item--categories__img"
            src="{{ category.image }}"
            alt="image of {{ category.name }} category">
    </a>
    <div class="admin-panel--category">
       <a class="admin-panel--category__update"
          href="{{ url_for('updateCategory', category_id=category.id) }}">Update</a>
       <span>|</span>
       <a class="admin-panel--category__delete"
          href="{{ url_for('deleteCategory', category_id=category.id) }}">Delete</a>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<p class="alert alert-danger">There are no categories to view.</p>
{% endif %}

{% endblock %}
