
{% extends "main.html" %}
{% block content %}

<h2>{{ subheading }}</h2>

{% with messages = get_flashed_messages() %}
{% if messages %}
{% for message in messages %}
<div class="container flash"><p class="alert alert-danger">{{ message }}</p></div>
{% endfor %}
{% endif %}
{% endwith %}

<form class="form--login" action="/login" method="post">
  <h3 class="form--login__heading">ACME Admin</h3>
  <fieldset class="form-group">
    <label class="form--login__label" for="username">Username</label>
    <input class="form-control" name="username" type="text">
    <label class="form--login__label" for="password">Password</label>
    <input class="form-control" name="password" type="password">
    <input hidden name="state" value="{{ STATE }}">
  </fieldset>
  <button class="btn btn-info form--login__submit" type="submit">Login</button>
</form>
<div class="g-login">
  <h4 class="g-login__heading">Log in with Google</h4>
  <a class="g-login__link" href="{{ url_for('googleLogin') }}">
    <span class="g-signin"
        data-scope="openid email"
        data-clientid="1051477773035-ea063h5j494p9o2hud81m6tk8u320l1o.apps.googleusercontent.com"
        data-redirecturi="postmessage"
        data-accesstype="offline"
        data-cookiepolicy="single_host_origin"
        data-callback="signInCallback"
        data-approvalprompt="force"></span>
  </a>
  <span class="g-login__message alert-info"></span>
</div>
<script src="//apis.google.com/js/platform.js?onload=start" async defer></script>
<script>
  function signInCallback(authResult) {
    if (authResult['code']) {
      $.ajax({
        type: 'POST',
        url: '/oauth2/google/signin?state={{ STATE }}',
        processData: false,
        contentType: 'application/octet-stream; charset=utf-8',
        data: authResult['code'],
        beforeSend: function() {
          $('.g-login__message').html("Working...");
        },
        success: function(res) {
          if (res) {
            $('.g-login__message').html('Login Successful! Redirecting...');
            setTimeout(function() {
              window.location.href = "/";
            }, 3000);
          } else if (authResult['error']) {
            console.log('Google OAUTH2 gave an error: ' + authResult['error']);
          } else {
            $('.g-login__message').html('Failed to make call to Google\'s servers. Check console log for more info.');
          }
        },

      });
    }
  }
</script>

{% endblock %}
