
{% extends "main.html" %}
{% block content %}

<div class="container">

  <h2 class="subheading">{{ subheading }}</h2>

  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="container flash"><p class="alert alert-danger">{{ message }}</p></div>
  {% endfor %}
  {% endif %}
  {% endwith %}

  <form class="form--update"
        action="{{ url_for('updateItem', category_id=category.id, item_id=item.id) }}"
        enctype="multipart/form-data"
        method="post">
    <fieldset class="form-group">
      <label class="form--update__label" for="name">Name</label>
      <input class="form-control" name="name" type="text">
      <label class="form--update__label" for="price">Price ($)</label>
      <input class="form-control input--currency" name="price" type="text">
      <label class="form--update__label" for="stock">Stock</label>
      <input class="form-control" min="0" name="stock" type="number" value="{{ item.stock }}">
      <label class="form--update__label" for="description" value="{{ item.description }}">Description</label>
      <textarea class="form-control" name="description" rows=8></textarea>
      <!-- TODO: Add images for items -->
      <!-- <label class="form--update__label" for="image">Upload image</label>
      <input class="form-control" name="image" type="file" readonly> -->
    </fieldset>
    <button class="btn btn-info form--update__submit" type="submit">Update</button>
    <a href="{{ url_for('displayCategory', category_id=category.id) }}"
       class="btn form--update__cancel">Cancel</a>
  </form>

</div>

{% endblock %}
